{% extends 'login_registration/base.html' %}
{% block title %}
<title>Login</title>
{% endblock %}
{% block nav %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
</li>
<li class="nav-item">
<a class="nav-link" href="{% url 'login_registration:register' %}">Register</a>
</li>
{% if user.is_authenticated %}
<li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
<li class="nav-item">
<a class="nav-link" href="{% url 'admin:index'%}">Admin</a>
</li>
{% else %}
<li class="nav-item active">
<a class="nav-link" href="{% url 'login_registration:user_login' %}">Login</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{% url 'admin:index'%}">Admin</a>
</li>
{% endif %}
{% endblock %}
{% block body_block %}
<div class="container">
    <div class="jumbotron">
        <form method="post" action="{% url 'login_registration:user_login'%}">
            {% csrf_token %}
            {% if messages %}
            {% for message in messages %}
            {% if message.tags == 'error' %}
            <div class="alert alert-danger text-center">
                <strong>{{ message|escape }}</strong>
            </div>
            <div class="text-center">
                <a href="{% url 'login_registration:user_login' %}">Try again</a>
            </div>
            {% endif %}
            {% endfor %}
            {% else %}
            <div class="input-group">
                <input id="username" type="text" class="form-control" name="username" placeholder="Username">
            </div>
            <br>
            <div class="input-group">
                <input id="password" type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-success" id="loginButton">Login</button>
        </form>
    </div>
</div>
{% endif %}
{% endblock %}