{% extends "login_registration/base.html" %}
{% block title %}
<title>Register</title>
{% endblock %}
{% load static %}
{% load crispy_forms_tags %}
{% block nav %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
</li>
<li class="nav-item active">
<a class="nav-link" href="{% url 'login_registration:register' %}">Register</a>
</li>
{% if user.is_authenticated %}
<li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
<li class="nav-item">
<a class="nav-link" href="{% url 'admin:index'%}">Admin</a>
</li>
{% else %}
<li class="nav-item">
<a class="nav-link" href="{% url 'login_registration:user_login' %}">Login</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{% url 'admin:index'%}">Admin</a>
</li>
{% endif %}
{% endblock %}
{% block body_block %}
<div class="container">
    <div class="jumbotron">
        {% if registered %}
            <h3 class="text-center">Welcome {{ user.first_name }} {{ user.last_name }}.
                Thank you for registering! Now you can <a href="{% url 'login_registration:user_login' %}">login</a>
                with your credentials.</h3>
        {% else %}
        <h1 class="text-center">Register Here</h1>
        <h3>Fill out the form.</h3>
        <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            {{ user_form|crispy }}
            <div class="container">
                <button type="submit" class="btn btn-success" id="registerButton">Register</button>
            </div>
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}